<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone-tutorial</title>
</head>

<body>
    <div class="container">
        <h2>Movies</h2>
        <hr />
        <div class="page"></div>
    </div>

    <script src="vendor/jquery/2.0.3/jquery-2.0.3.js"></script>
    <script src="vendor/json2/json2.js"></script>
    <script src="vendor/underscore/1.5.2/underscore.js"></script>
    <script src="vendor/backbone/1.1.0/backbone.js"></script>

    <script src="src/app.js"></script>

    <script type="text/template" id="movie-list-template">
        <h3>List Movies</h3>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(movies, function(movie) { %>
                    <tr>
                        <td><%= htmlEncode(movie.get('title')) %></td>
                        <td><%= htmlEncode(movie.get('synopsis')) %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </script>

</body>
</html>